#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV 1
#define MOUSE 2
#define MEDIA 3
#define NUM 4
#define SYM 5
#define FUN 6
#define ADJ 7

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick_tap_ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        cyr_kh {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <8 9>;
        };

        cyr_e {
            bindings = <&kp SQT>;
            key-positions = <18 19>;
        };

        cyr_hs {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <26 27>;
        };

        cyr_yo {
            bindings = <&kp GRAVE>;
            key-positions = <3 4>;
        };

        cyr_toggle_w {
            bindings = <&kp LS(LEFT_ALT)>;
            key-positions = <11 12 13>;
        };

        cyr_toggle_w_r {
            bindings = <&kp RS(RIGHT_ALT)>;
            key-positions = <16 17 18>;
        };

        cyr_toggle_mac {
            bindings = <&kp LC(SPACE)>;
            key-positions = <1 2 3>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <32 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_default {
            bindings = <
&hm LEFT_WIN Q  &kp W  &kp E  &kp R      &kp T                 &kp Y        &kp U      &kp I                      &kp O      &hm RIGHT_WIN P
&hm LCTRL A     &kp S  &kp D  &kp F      &kp G                 &kp H        &kp J      &kp K                      &kp L      &hm RCTRL SEMI
&hm LEFT_ALT Z  &kp X  &kp C  &kp V      &kp B                 &kp N        &kp M      &kp COMMA                  &kp DOT    &hm RIGHT_ALT SLASH
                              &lt 2 TAB  &mt LEFT_SHIFT SPACE  &lt 1 ENTER  &lt 1 RET  &mt RIGHT_SHIFT BACKSPACE  &lt 2 DEL
            >;
        };

        layer_diginav {
            bindings = <
&kp SINGLE_QUOTE  &kp BACKSLASH  &kp MINUS     &kp EQUAL     &kp GRAVE     &kp PG_UP      &kp INSERT         &kp UP_ARROW     &kp RIGHT_BRACKET  &mt RIGHT_GUI LEFT_BRACKET
&kp NUMBER_1      &kp NUMBER_2   &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp PAGE_DOWN  &kp LEFT           &kp DOWN         &kp UP             &mt RCTRL SINGLE_QUOTE
&kp NUMBER_6      &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &mt HOME END   &kp RIGHT_BRACKET  &kp PRINTSCREEN  &kp PAUSE_BREAK    &mt RIGHT_ALT CAPSLOCK
                                               &lt 3 TAB     &trans        &kp ESCAPE     &kp ESCAPE         &trans           &lt 3 DELETE
            >;
        };

        layer_Fnum {
            bindings = <
&kp LEFT_GUI  &kp F1  &kp F2   &kp F3   &kp F4   &mt KP_NUMLOCK KP_SLASH  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS
&kp LCTRL     &kp F5  &kp F6   &kp F7   &kp F8   &kp KP_DOT               &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_SUBTRACT
&kp LEFT_ALT  &kp F9  &kp F10  &kp F11  &kp F12  &kp KP_NUMBER_0          &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_MULTIPLY
                               &trans   &trans   &lt 3 ENTER              &lt 3 ENTER      &trans           &trans
            >;
        };

        layer_adj {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0
&bt BT_CLR    &bt BT_PRV    &bt BT_NXT    &sys_reset    &bootloader   &bootloader   &sys_reset    &bt BT_NXT    &bt BT_PRV    &bt BT_CLR
&out OUT_TOG  &out OUT_BLE  &out OUT_USB  &none         &none         &none         &none         &out OUT_USB  &out OUT_BLE  &out OUT_TOG
                                          &none         &sl 5         &none         &none         &sl 4         &none
            >;
        };

        layer_mousemedia {
            bindings = <
&none     &none     &none      &none      &none      &kp C_BRIGHTNESS_INC   &kp C_VOLUME_UP    &kp C_NEXT        &none   &none
&mkp MB5  &mkp MB4  &mkp RCLK  &mkp LCLK  &mkp MCLK  &kp C_BRIGHTNESS_AUTO  &kp C_MUTE         &kp K_PLAY_PAUSE  &none   &none
&none     &none     &none      &none      &none      &kp C_BRIGHTNESS_DEC   &kp C_VOLUME_DOWN  &kp C_NEXT        &none   &none
                               &trans     &none      &trans                 &trans             &trans            &trans
            >;
        };

        layer_invert {
            bindings = <
&kp P          &kp O       &kp I      &kp U       &kp Y          &kp T       &kp R  &kp E  &kp W  &kp Q
&kp SEMICOLON  &kp L       &kp K      &kp J       &kp H          &kp G       &kp F  &kp D  &kp S  &kp A
&kp SLASH      &kp PERIOD  &kp COMMA  &kp M       &kp N          &kp B       &kp V  &kp C  &kp X  &kp Z
                                      &kp DELETE  &kp BACKSPACE  &kp ESCAPE  &none  &none  &none
            >;
        };
    };
};
